/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Style */
body {
	font: 16px/28px arial, sans-serif;
	background-color: #eaeaea;
	color: #333;
	background-image: url(img/floor.png);
}

.container {
	width: 960px;
	margin: 80px auto;
	background-color: white;
	position: relative;
}

.top-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
	background-color: #b65fcf;
	border-bottom: 3px solid salmon;
	z-index: 9999;
}

.top-bar .text {
	font-family: arial;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	  	color: white;
	  	text-shadow: 0 1px 0 #ccc,
	               	 0 2px 0 #c9c9c9,
	               	 0 3px 0 #bbb,
	               	 0 4px 0 #b9b9b9,
	               	 0 5px 0 #aaa,
	               	 0 6px 1px rgba(0,0,0,.1),
	               	 0 0 5px rgba(0,0,0,.1),
	               	 0 1px 3px rgba(0,0,0,.3),
	               	 0 3px 5px rgba(0,0,0,.2),
	               	 0 5px 10px rgba(0,0,0,.25),
	               	 0 10px 10px rgba(0,0,0,.2),
	               	 0 20px 20px rgba(0,0,0,.15);
}

.twitter {
	width: 200px;
	height: 200px;
	background-image: url(img/ribbon.png);
	/*kegunaan BACKGROUND-REPEAT????*/
	background-repeat: no-repeat;
	/*pake inline-block karena a itu inline jadi gabisa diatur ukurannya*/
	display: inline-block;
	/*TEXT-INDENT berguna untuk indentasi. contoh dalam membuat menjorok di paragraf. Akan tetapi untuk menghilangkan tulisannya dapat menggunakan nilai - agar keluar dari website */
	text-indent: -9999px;
	/*KENAPA LOGO TWITTERNYA DI POJOK KIRI ATAS NYA CONTAINER? KENAPA GA POJOK KIRI ATASNYA WINDOW? PADAHAL GA ADA POSITION DIMANA2 SELAIN YANG INI???*/
	position: absolute;
	top: -23px;
	right: -28px;

}

.header {
	padding: 20px;
	padding-bottom: 10px;
}


.header .judul {
	font-size: 40px;
	font-weight: bold;
}

.header ul li {
	display: inline-block;
	margin-top: 20px;
	margin-right: 10px;
}

.header a {
	text-decoration: none;
	color: salmon;
	padding: 3px;
}

.header a:hover {
	background-color: #BE93D4;
	color: white;
}

.hero {
	height: 320px;
	background-image: url(img/1275698.jpg);
	background-size: cover;
	background-position: 0 -230px ;
	border-top: 5px solid salmon ;
	border-bottom: 5px solid #BE93D4 ;
}

.main {
	width: 600px;
	padding: 20px;
	box-sizing: border-box;
	/*agar lebarnya tetap 600px maka ditambah box-sizing*/
	float: left;
}

.main h2{
	font-size: 20px;
	font-weight: bold;
}

.main .penulis {
	font-size: 11px;
	margin-top: -5px;
}

.main .penulis a {
	color: salmon;
	text-decoration: none;
}

.main .penulis a:hover {
	background-color: #BE93D4;
	color: white;
}

.main p{
	margin-bottom: 20px;
	font-size: 14px;
}

.main .pendahuluan2 {
	font-size: 15px;
	font-weight: bold;
}

.main .wish2 {
	font-size: 15px;
	font-weight: bold;
}

.main .gift2 {
	font-size: 15px;
	font-weight: bold;
}

.main .penutup2 {
	font-size: 15px;
	font-weight: bold;
}

.totebag, .coupon, .skintific {
	font-weight: bold;
}


/*sidebar*/
.sidebar {
	width: 300px;
	float: right;
	padding: 20px;
}

.sidebar h3 {
	font-weight: bold;
	color: #666;
}

.sidebar img {
	width: 60px;
	height: 70px;
	float: left;
	padding-right: 10px;
}

.sidebar p {
	font: 12px/18px arial;
}

.footer {
	background-color: #333;
	padding: 10px;
}

.footer .copy {
	color: #eaeaea;
	text-align: center;
	font-size: 12px;
}



/* clearfix  */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}
